body{
    font-family: 'Poppins', sans-serif;
    margin: 0 ;
}

.flexible{
    display: flex;
    margin-bottom: 80px;
}
.div-head{
    width: 50%;
    padding: 40px;
}
.pic img {
    margin-left: 90px; 
}
h1{
    font-size: 50px;
}
.learner{
    color: red;
}
.linkbutton{
    text-decoration: none;
    background-image:linear-gradient(orange,rgb(195, 57, 19) );
    padding: 10px;
    color: rgb(248, 246, 246);
    font-weight: 700;
    border-radius: 5px;

}
.top-banner {
    background-image:url(images/circle.png);
    background-repeat: no-repeat;
    
}
.sec2{
    background-image: url(images/cir.png);
    background-repeat: no-repeat;
    background-position: right;

}

.site{
    color: darkorchid;
}
.button2{
    text-decoration: none;
    background-image: linear-gradient(green,red);
    padding: 10px;
    border-radius: 5px;
    color: azure;
    font-weight: 800;
}
.simple-head{
    color: deeppink;
}
.experinc{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    padding-left: 20px;
    border-radius: 15px;
    
}
.goal{
    background-image: url(images/cir.png);
    background-repeat: no-repeat;
    background-position:0 190px;
    background-size: 90px 300px;
}
#border-div1{
    border-left: 7px solid;
    border-image: linear-gradient(blue,rgb(150, 35, 98)  );
    border-image-slice: 1;
    border-radius: 5px 5px;
}
#border-div2{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(211, 14, 185),rgb(217, 245, 4));
    border-image-slice: 1;
}
footer{
    text-align: center;
    border-top: 2px solid ;
    

}